{{ if .Values.scheduledBackup.enabled }}
{{- $clusterName := .Values.cluster.clusterName | default (printf "%s-cluster" .Release.Name) }}
---
apiVersion: postgresql.cnpg.io/v1
kind: ScheduledBackup
metadata:
  name: {{ (printf "%s-backup" $clusterName) }}
spec:
  cluster:
    name: {{ $clusterName }}
  schedule: {{ .Values.scheduledBackup.schedule | default "0 0 0 * * *" }}
  backupOwnerReference: self
  immediate: true
  method: {{ .Values.scheduledBackup.method | default "plugin" }}
  {{- if eq .Values.scheduledBackup.method "plugin" }}
  pluginConfiguration:
    name: barman-cloud.cloudnative-pg.io
  {{- end }}
{{ end }}
