apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: {{ printf "%s-cluster" .Release.Name | default "cloudnative-pg-cluster" }}
  namespace: {{ .Release.Namespace | default "cloudnative-pg" }}
  annotations: {{ .Values.cluster.annotations | toYaml | nindent 4 }}
spec:
  affinity: {{ .Values.cluster.affinity | toYaml | nindent 4 }}
  instances: {{ .Values.cluster.instances | default 2 }}
  {{- if and .Values.cluster.imageCatalogRef .Values.cluster.imageCatalogRef.name }}
  imageCatalogRef:
  {{- toYaml .Values.cluster.imageCatalogRef | nindent 4 }}
  {{- else }}
  imageName: {{ .Values.cluster.image.name | quote }}
  {{- end }}
  imagePullPolicy: {{ .Values.cluster.image.pullPolicy | default "IfNotPresent" }}
  {{- if .Values.cluster.imagePullSecrets }}
  imagePullSecrets:
    {{- range .Values.cluster.imagePullSecrets }}
    - name: {{ .name }}
    {{- end }}
  {{- end }}
  storage:
    size: {{ .Values.cluster.storage.size | default "10Gi" }}
    storageClass: {{ .Values.cluster.storage.storageClass | default "openebs-hostpath" }}
  walStorage:
    size: {{ .Values.cluster.walStorage.size | default "4Gi" }}
    storageClass: {{ .Values.cluster.walStorage.storageClass | default "openebs-hostpath" }}
  resources:
    {{- toYaml .Values.cluster.resources | nindent 4 }}
  superuserSecret:
    name: {{ .Values.cluster.superuserSecret | default "superuser-secret" }}
  enablePDB: true
  enableSuperuserAccess: {{ .Values.cluster.enableSuperuserAccess | default false }}
  postgresql:
    {{- toYaml .Values.cluster.postgresql | nindent 4 }}
  managed:
    roles:
      {{- toYaml .Values.cluster.roles | nindent 6 }}
  {{- if .Values.cluster.monitoring }}
  monitoring:
    {{- toYaml .Values.cluster.monitoring | nindent 4 }}
  {{ end }}
  {{- if .Values.cluster.plugins }}
  plugins: {{ .Values.cluster.plugins | toYaml | nindent 2 }}
  {{ end }}

  {{- if .Values.cluster.bootstrap }}
  bootstrap:
    {{- toYaml .Values.cluster.bootstrap | nindent 4 }}
  {{ end }}

  {{- if .Values.cluster.externalClusters }}
  externalClusters:
  {{- toYaml .Values.cluster.externalClusters | nindent 4 }}
  {{ end }}
