{{- if $.Values.database.logicalReplication.subscription.enabled }}
{{- range $index, $databaseName := $.Values.database.logicalReplication.subscription.databaseList }}
---
apiVersion: postgresql.cnpg.io/v1
kind: Subscription
metadata:
  name: {{ $databaseName }}-subscription
spec:
  cluster:
    name: {{ printf "%s-cluster" $.Release.Name }}
  dbname: {{ $databaseName }}
  name: {{ $databaseName }}_subscription
  externalClusterName: {{ $.Values.database.logicalReplication.subscription.externalClusterName }}
  publicationName: {{ $databaseName }}_publisher
  subscriptionReclaimPolicy: delete
{{- end}}
{{- end }}
