{{ if .Values.cluster.externalService.enabled }}
{{- $clusterName := .Values.cluster.clusterName | default (printf "%s-cluster" .Release.Name) }}
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-lb
  namespace: {{ .Release.Namespace }}
spec:
  type: LoadBalancer
  ports:
    - name: postgres
      port: 5432
      targetPort: 5432
      protocol: TCP
  selector:
    cnpg.io/cluster: {{ $clusterName }}
    cnpg.io/instanceRole: {{ .Values.cluster.externalService.targetRole | default "primary" }}
{{ end }}